services:
  api:
    build:
      context: ../
      dockerfile: backend/Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - mailvault-data:/app/data
      - ../data/emails:/app/data/emails:ro
    environment:
      - SPRING_PROFILES_ACTIVE=dev

volumes:
  mailvault-data:
